body {
  background-color: #FFF5EE;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #333;
  border-width: 5px;
  width: 5%;
}
ul {
  list-style-type: none;
}

/* Scrolldown Navigation Bar Section */
#fixed {
  background-color: #FFF5EE;
  position: fixed;
  top: -70px;
  width: 100%;
  transition: top 0.3s;
  z-index: 99;
}
.cart-count {
  bottom: 20px;
  left: 5px;
  color: #333;
}
.anchor-no {
  font-size: 15px;
}

/* Universal Books Section */
.row {
  padding: 0% 3%;
}
.search-bar {
  text-align: left;
  padding-top: 2%;
}
.title {
  text-align: center;
}
.cart {
  text-align: right;
  padding-top: 2%;
}
.uni-pic {
  height: 100px
}
.cart-icon, .user-icon, .book-links {
  color: #333;
}
.dropdown-link {
  float: left;
  overflow: hidden;
}
.dropdown-link .droplink {
  font-size: 16px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.dropdown-content {  /* Dropdown content (hidden by default) */
  display: none;
  position: absolute;
  background-color: #FFF5EE;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 1%;
}
.dropdown-content a {  /* Links inside the dropdown */
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {  /* Add a grey background color to dropdown links on hover */
  /* background-color: #ddd; */
}
.dropdown-link:hover .dropdown-content {  /* Show the dropdown menu on hover */
  display: block;
}

/* Navigation Bar Section */
.navbar-brand {
  font-family: "Montserrat-Thin";
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 30px;
}
.navbar-item {
  padding: 0 18px;
}
.nav-link {
  padding: 0 2%;
}

/* Introduction Section */
.intro {
  text-align: center;
  position: relative;
  /* padding: 10px 0px 0px; */
}
.book-image {
  width: 100%;
  height: 600px;
}

/* Book Section */
.greetings {
  text-align: center;
  font-size: 50px;
  font-weight: 100;
}
.book-container {
  text-align: center;
}
.category-title {
  position: relative;
  top: 85px;
  padding: 0 1%;
}
.view-link {
  text-align: right;
  position: relative;
  top: 50px;
  padding: 0 1%;
}
.title-shop {
  padding: 3% 0% 2%;
}
.img-fluid {
  height: 300px;
}
.carousel-books {
  padding: 0% 9%;
  margin: 4% 0%;
  text-align: center;
}
.direction-button {
  background-color: #333;
  width: 60px;
}

/* card section */
.text-center{
  padding: 5% 0% 0%;
}
.section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  z-index: -1;
}
.books-heading {
  margin: 3% 0%;
}
.section-heading {
  font-size: 60px;
  font-family: "Roboto Condensed", sans-serif;
  border-left: 3px solid black;
  border-right: 3px solid black;
  transition: all 0.4s;
  display: inline-block;
  padding: 4px 32px;
}
.section-heading:hover {
  padding: 4px 48px;
  background: grey;
  color: #FFF5EE;
}
.card-image {
  transition: 0.4s;
}
.card .card-description {
  padding: 0 8px;
}
.card-description {
  background-color: #FFF5EE;
}
#source {
  padding-top: 2%;
}
#source a {
  margin: 8px;
  text-align: center;
}
@media (min-width: 500px) {
  .deck {
    width: 45%;
  }
  .card .deck-image img {
    width: 100%;
  }
}


/* Quotes Section */
#quotes {
  text-align: center;
  padding: 5% 0%;
  color: #333;
}
.quotes-inner {
  padding: 3% 5%
}
.quote-size {
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 150;
}

/* Address Section */
#address {
  padding-bottom: 5%;
}
.address-container {
  background-color: #C0C0C0;
  color: #fff;
}
.address-row {
  padding: 3% 2%;
}
.address-shop {
  text-align: left;
}
.shop-pic {
  margin-top: 7%;
  width: 90%;
  height: 100%;
}
.address-map {
  padding: 4% 2%;
}
.map-loc {
  width: 100%;
  height: 500px;
}

/* Footer Section */
#footer {
  padding: 3% 0% 0%;
}
.link-row {
  vertical-align: middle;
}
.footer-heading {
  padding-left: 13%
}
footer {
  padding: 8px;
  color: #333;
  display: flex;
}

footer a {
  color: #333;
}

#left-footer {
  flex: auto;
  border-right: 1px solid #C0C0C0;
  padding-left: 32px;
}

#left-footer ul {
  padding: 0;
  list-style: none;
  line-height: 1.5;
}

#right-footer {
  flex: auto;
  padding: 8px;
  text-align: center;
}

#social-media-footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

#social-media-footer ul li {
  font-size: 48px;
  padding: 16px;
  transition: 0.4s;
}

#social-media-footer ul li:hover .fa-youtube {
  color: red;
}

#social-media-footer ul li:hover .fa-facebook {
  color: #3b5998;
}

#social-media-footer ul li:hover .fa-github {
  color: #bbb;
}

/*  Sign up   */
body {
  font-family: sans-serif;
}
.tab-style {
  font-size: 20px;
  width: 50%;
  background-color: #C0C0C0;
  text-align: center;
}
.nav-tabs>li>a {
  margin-right: 0px;
  color: #333;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: #C0C0C0;
  color: #333;
}
.login-shadow {
  -webkit-box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
  -moz-box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
  box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
  z-index: 1;
}
.signup-shadow {
  -webkit-box-shadow: -5px 0px 6px 0px rgba(82, 82, 82, 0.52);
  -moz-box-shadow: -5px -5px 6px 0px rgba(82, 82, 82, 0.52);
  box-shadow: -5px 0px 6px 0px rgba(82, 82, 82, 0.52);
}
.group {
  position: relative;
  margin-top: 30px;
}
.group2 {
  position: relative;
  margin-top: 16px;
}
.btn-block {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}
.label {
  color: #3b5998;
  font-size: 18px;
  font-weight: normal;
  /* position: absolute; */
  pointer-events: none;
  left: -10px;
  top: 10px;
  transition: all 0.2s ease;
}
.input {
  background-color: #FFF5EE;
  font-size: 18px;
  /* padding: 10px 10px 10px 5px; */
  -webkit-appearance: none;
  display: block;
  background: none;
  color: #333;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}
.input:focus {
  outline: none;
}
/* Label */

/* active */
.input:focus~.label, .input.used~.label {
  /* top: -20px; */
  transform: scale(.75);
  /* left: -15px; */
  /* font-size: 14px; */
  color: #4a89dc;
}
/* Underline */
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #4a89dc;
  transition: all 0.2s ease;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
.modal-header {
  background-color: #e5ecf4;
}

/* active */
.input:focus~.bar:before, .input:focus~.bar:after {
  width: 50%;
}

/* Highlight */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active */
.input:focus~.highlight {
  animation: inputHighlighter 0.3s ease;
}

@media screen and (max-width: 767px) and (min-width: 576px) {
  #myModal {
    margin-left: 20%;
    margin-right: 20%;
  }

  #forgot-password {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (min-width: 768px) {
  #myModal .modal-dialog {
    width: 700px;
  }

  #forgot-password .modal-dialog {
    width: 700px;
  }

  .modal-body {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.modal-body {
  background-color: #FFF5EE;
  /* background-image: url('http://res.cloudinary.com/rinma/image/upload/v1500489833/Airplane-flying-desktop-pictureproba2_rlcced.jpg'); */
  background-size: cover;
  z-inedx: 4;
}
